<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a routerLink="produit/2">Produit 2</a></li>
    <li><a routerLink="produit/3">Produit 3</a></li>
    <li><a routerLink="produit/350">Produit 350</a></li>
    <li><a routerLink="produit/babar">Produit babar</a></li>
    <li><a routerLink="produit/">Produit null</a></li>
    <li><a routerLink="produit/{{test}}">Produit test</a></li>
    <li><a routerLink="produit/alert('Bonjour')">Produit alert</a></li>
</ul>
<nav class="teal">
    <div class="nav-wrapper container">
        <a routerLink="/" class="brand-logo">Accueil</a>
        <ul class="right hide-on-med-and-down">
            <li><a routerLink="/produits">Liste des produits</a></li>
            <li>
                <a class="dropdown-trigger" href="#!" data-target="dropdown1">
                    Détail des produits
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
<footer class="page-footer teal">
    <div class="container">
        <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
        </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        © 2014 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>