<section class="container" *ngIf="products.length">

    <h2>Liste des produits</h2>
    <ul class="collection with-header">
        <li *ngFor="let product of products; let i=index" class="collection-item">
            <div>
                {{ i }} - {{ product.name }}
                <a (click)="selectedProduct=product;" class="secondary-content">
                    <i class="material-icons">send</i>
                </a>
            </div>
        </li>
    </ul>

    <app-product-show [product]="selectedProduct"></app-product-show>

</section>